[submodule "idahunt"]
	path = idahunt
	url = https://github.com/nccgroup/idahunt
[submodule "modules/reference_code/edk2"]
	path = modules/reference_code/edk2
	url = https://github.com/tianocore/edk2
